<!-- app/partials/autor.html -->
<md-content layout-align="center" layout-gt-sm="row" layout-padding="">
    <md-card>
        <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Cadastro de Autores</span> 
            <span class="md-subhead">Dados do Autor</span>       
        </md-card-title-text>
        </md-card-title>
        <md-card-content style="width:600px">
            <div>
                <form name=autorForm>
                    <md-content layout-gt-sm="row">      
                        <md-input-container style="width:50">
                            <label>Id</label>
                            <input ng-model="autor.id" type="text" disabled="">
                        </md-input-container>                    
                        <md-input-container style="width:475">
                            <label>Nome</label>
                            <input ng-model="autor.nome" type="text" uppercase>
                        </md-input-container>                        
                    </md-content>                    
                </form>
            </div>
        </md-card-content>
        <md-content layout-padding="">
            <a style="padding: 2px; width: 70px" ng-href="#/autor" class="btn btn-primary">Novo</a>
            <button style="padding: 2px; width: 70px" type="button" ng-click="salva()" class="btn btn-primary">Salvar</button>
            <a style="padding: 2px; width: 70px" ng-href="#/autores" class="btn btn-primary">Pesquisar</a>
            <button style="padding: 2px; width: 70px" type="button" ng-click="delete()" class="btn btn-primary">Excluir</button>    
            <p ng-show="mensagem.texto">{{mensagem.texto}}</p>
            <p ng-show="mensagemErro.texto">{{mensagemErro.texto}} + {{mensagemErro.status}}</p>
        </md-content>   
    </md-card>
</md-content>
