<!-- app/partials/livros.html -->
<!--<div layout-align="center" class="col-md-8 col-md-offset-3">-->
<md-content layout-align="center center" layout-gt-sm="row" layout-padding="">    
    <md-card flex flex-gt-xs="100">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Pesquisa de Clientes</span>
            </md-card-title-text>            
        </md-card-title>
        <md-card-content>
            <div layout="row"> 
                <md-input-container class="md-block" flex-gt-xs="">
                    <label>Filtro</label>
                    <input ng-model="filtro" uppercase type="search" placeholder="parte do nome">
                </md-input-container> 
            </div>
        </md-card-content>                
        <md-content layout-padding>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>NOME</th>                            
                            <th>TELEFONE1</th>
                            <th>TELEFONE2</th>
                            <th>TELEFONE3</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate = "cliente in clientes | filter:filtro | itemsPerPage:5">
                            <td>{{cliente.id}}</td>                            
                            <td>{{cliente.nome}}</td>
                            <td>{{cliente.telefone1}}</td>
                            <td>{{cliente.telefone2}}</td>
                            <td>{{cliente.telefone3}}</td>                            
                            <td layout-align="left">
                                <md-icon md-svg-icon="img/icons/ic_edit_black_18px.svg" ng-click="editar(cliente.id)" href="#/cliente/{{cliente.id}}"></md-icon>
                            </td>          
                        </tr>
                    </tbody>                                
                </table>                                    
            </div>
        </md-content>
        <dir-pagination-controls max-size="10" boundary-links="true"></dir-pagination-controls>
        <md-card-action layout="row" layout-align="end center">
            <md-button class="md-icon-button md-primary" aria-label="Novo" ng-click="novo()">
                <md-tooltip md-direction="bottom">Novo</md-tooltip>
                <md-icon md-svg-icon="img/icons/ic_add_circle_outline_black_24px.svg"></md-icon>
            </md-button>            
        </md-card-action>
        <md-card-action layout="row" layout-align="end left">
            <p class="text-info" ng-hide="clientes.length">Não há clientes cadastrados</p>
            <p ng-show="clientes.length">Clientes cadastrados: {{clientes.length}}</p>
        </md-card-action>
        <md-card-footer ng-if="mensagem.texto.length" layout="row" layout-align="end center">            
            <p ng-show="mensagem.texto">{{mensagem.texto}}</p>
        </md-card-footer>         
    </md-card>    
</md-content>