<!-- app/partials/login.html -->



<div class="col-md-6 col-md-offset-3" ng-controller="login">
<h1 class="text-center">Login</h1>
<form>        
    <div class="form-group">
        <label for="login">Usuário</label>
        <input type="text" class="form-control" id="login" placeholder="Login" ng-model="user">
    </div>    
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="password">
    </div>    
    <button ng-click="setCookie(user)" type="submit" class="btn btn-primary">Logar</button>
    <a href="#/<home></home>" class="btn btn-default">Sair</a>
</form>
</div>