<!-- app/partials/livros.html -->
<!--<div layout-align="center" class="col-md-8 col-md-offset-3">-->
<md-content layout-align="top center" layout-gt-sm="row" layout-padding="">    
    <md-card flex>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Pesquisa de Requisições</span> 
            </md-card-title-text>            
        </md-card-title>
        <md-card-content>
            <div layout="row"> 
                <md-input-container class="md-block" flex-gt-xs="">
                    <label>Filtro</label>
                    <input ng-model="filtro" uppercase type="search" placeholder="parte do nome">
                </md-input-container> 
            </div>
        </md-card-content>                
        <md-content layout-padding>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>RETIRADA</th>
                            <th>PREVISÃO DE DEVOLUÇÃO</th>
                            <th>DATA DE DEVOLUÇÃO</th>
                            <th>CLIENTE</th>
                            <th>LIVRO</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate = "requisicao in requisicoes | filter:filtro | itemsPerPage:5">
                            <td>{{requisicao.id}}</td>
                            <td>{{requisicao.data_retirada | date: 'dd/MM/yyyy'}}</td>
                            <td>{{requisicao.data_prevista_devolucao | date: 'dd/MM/yyyy'}}</td>
                            <td>{{requisicao.data_devolucao | date: 'dd/MM/yyyy'}}</td>
                            <td>{{requisicao.nome_cliente}}</td>
                            <td>{{requisicao.titulo_livro}}</td>
                            <td>
                                <md-icon md-svg-icon="img/icons/ic_edit_black_18px.svg" ng-click="editar(requisicao.id)" href="#/requisicao/{{requisicao.id}}"></md-icon>
                            </td>
                            <td>
                                <md-icon md-svg-icon="img/icons/ic_done_black_24px.svg" ng-show="!requisicao.data_devolucao" ng-click="showAddDevolucao(requisicao, $event)"></md-icon>
                            </td>          
                        </tr>
                    </tbody>                                
                </table>                                    
            </div>
        </md-content>
        <dir-pagination-controls max-size="10" boundary-links="true"></dir-pagination-controls>
        <md-card-action layout="row" layout-align="end center">
            <md-button class="md-icon-button md-primary" aria-label="Novo" ng-click="novo()">
                <md-tooltip md-direction="bottom">Novo</md-tooltip>
                <md-icon md-svg-icon="img/icons/ic_add_circle_outline_black_24px.svg"></md-icon>
            </md-button>            
        </md-card-action>
        <md-card-action layout="row" layout-align="end left">
            <p class="text-info" ng-hide="requisicoes.length">Não há requisicões cadastrados</p>
            <p ng-show="requisicoes.length">Requisicões cadastrados: {{requisicoes.length}}</p>
        </md-card-action>
        <md-card-footer ng-if="mensagem.texto.length" layout="row" layout-align="end center">            
            <p ng-show="mensagem.texto">{{mensagem.texto}} {{mensagem.status}}</p>
        </md-card-footer>        
    </md-card>    
</md-content>