<md-content layout-align="center center" layout-gt-sm="row" layout-padding="">
    <md-card flex flex-gt-xs="50">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Requisição de Livro</span>
                <span ng-hide="!requisicao.id" class="md-subhead">Número: {{requisicao.id}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div layout="row">
                <md-input-container flex="50">
                    <label>Retirada</label>              
                    <md-datepicker ng-change="dateChanged()" required ng-model="requisicao.data_retirada" , nx-model-formatter="['moment','toDate']"></md-datepicker>
                </md-input-container>
                <md-input-container  flex="50">
                    <label>Devolução</label>
                    <md-datepicker required ng-model="requisicao.data_prevista_devolucao"></md-datepicker>
                </md-input-container>
            </div>
            <md-content layout-padding>
                <div layout="row">
                    <md-input-container flex="100">
                        <label>Cliente</label>  
                        <md-icon md-svg-icon="img/icons/ic_people_black_24px.svg" ng-click="showAddCliente($event)"></md-icon>                            
                        <input aria-label ="nome_cliente" ng-model="requisicao.nome_cliente" type="text" disabled>
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">                   
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Livro</label>                        
                        <md-icon md-svg-icon="img/icons/ic_library_books_black_24px.svg" ng-click="showAddLivro($event)"></md-icon>                            
                        <input aria-label ="titulo_livro" ng-model="requisicao.titulo_livro" type="text" disabled>                        
                    </md-input-container>                    
                </div>        
            </md-content>
        </md-card-content>            
        <md-card-action layout="row" layout-align="end center">            
            <md-button class="md-icon-button md-primary" aria-label="Novo" ng-click="novo()">
                <md-tooltip md-direction="bottom">Novo</md-tooltip>
                <md-icon md-svg-icon="img/icons/ic_add_circle_outline_black_24px.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button md-primary" ng-click="salva()" aria-label="Salvar">
                <md-tooltip md-direction="bottom">Gravar</md-tooltip>
                <md-icon md-svg-icon="img/icons/ic_archive_black_24px.svg"></md-icon>            
            </md-button>
            <md-button class="md-icon-button md-primary" ng-click="pesquisa()" aria-label="Pesquisar">
                <md-tooltip md-direction="bottom">Pesquisar</md-tooltip>
                <md-icon md-svg-icon="img/icons/ic_search_black_24px.svg"></md-icon>            
            </md-button>
            <md-button class="md-icon-button md-primary" ng-click="delete()" aria-label="Excluir">
                <md-tooltip md-direction="bottom">Excluir</md-tooltip>
                <md-icon md-svg-icon="img/icons/ic_delete_black_24px.svg"></md-icon>            
            </md-button>
        </md-card-action>
        <md-card-footer ng-if="mensagem.texto.length" layout="row" layout-align="end center">
            <p ng-show="mensagem.texto">{{mensagem.texto}} {{mensagem.status}}</p>
        </md-card-footer>
    </md-card>
</md-content>